<!DOCTYPE html>
<html lang="en">
<div th:include="fragment/head :: head"></div>
<body style="background: rgb(0,125,181);
background: linear-gradient(90deg, rgba(0,125,181,1) 0%, rgba(147,221,255,1) 50%, rgba(0,125,181,1) 100%);
padding: 0px;">

<div class="container">

  <div class="row justify-content-center">
    <div th:switch="${questions.size()}" class="col-12">
      <h2 th:case="0" class="mt-5 text-danger text-center m-3" >No Questions In DB!</h2>

      <div th:case="*">
        <h2 class="mt-5 mb-3 text-dark fw-bold" >Questions</h2>
        <table class="table table-striped table-responsive-md">
          <thead>
          <tr>
            <th class="text-dark"> Question</th>
            <th class="text-dark">correctAnswer</th>
            <th class="text-dark">wrongAnswers1</th>
            <th class="text-dark">wrongAnswers2</th>
            <th class="text-dark">wrongAnswers3</th>
            <th class="text-dark"></th>
          </tr>
          </thead>
          <tbody>
          <tr th:each="question : ${questions}">
            <td th:text="${question.quiz}"></td>
            <td th:text="${question.correctAnswer}"></td>
            <td th:text="${question.wrongAnswer1}"></td>
            <td th:text="${question.wrongAnswer2}"></td>
            <td th:text="${question.wrongAnswer3}"></td>
            <td>
              <form action="#" th:action="@{/admin/delete}" th:object="${question}" method="post">
                <input type="hidden" name="id" th:value="${question.id}">
                <input class="btn btn-danger" type="submit" value="DELETE" />
              </form>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-auto">
      <button onclick="location.href='/admin/add-question'" type="button" class="btn btn-success">Add Question</button>
    </div>
    <div class="col-auto">
      <button onclick="location.href='/shared/start-game'" type="button" class="btn btn-success">Return to game page</button>
    </div>
  </div>



</div>

</body>
</html>
