<!DOCTYPE html>
<html lang="en">
<div th:include="head :: head"></div>

<body>
  <div class="row ">
    <div class="col-12">
      <form action="#" th:action="@{/admin/add-question}" th:object="${question}" method="post">

        <div class="row justify-content-center">

          <div class="form-group col-5">
            <label for="email" class="col-form-label text-info">Email</label>
            <input type="text" th:field="*{email}" class="form-control" id="email" placeholder="Email">
            <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="text-danger"></span>
          </div>

          <div class="form-group col-5">
            <label for="quiz" class="col-form-label text-white">Question</label>
            <input type="text" th:field="*{quiz}" class="form-control" id="quiz" placeholder="Quiz">
            <span th:if="${#fields.hasErrors('quiz')}" th:errors="*{quiz}" class="text-danger"></span>
          </div>
        </div>

        <div class="row justify-content-center">
          <div class="form-group col-5">
            <label for="correctAnswer" class="col-form-label text-white">Correct Answer</label>
            <input type="text" th:field="*{correctAnswer}" class="form-control" id="correctAnswer" placeholder="correctAnswer">
            <span th:if="${#fields.hasErrors('correctAnswer')}" th:errors="*{correctAnswer}" class="text-danger"></span>
          </div>

          <div class="form-group col-5">
            <label for="wrongAnswer1" class="col-form-label text-white">wrong Answer 1</label>
            <input type="text" th:field="*{wrongAnswer1}" class="form-control" id="wrongAnswer1" placeholder="wrongAnswer1">
            <span th:if="${#fields.hasErrors('wrongAnswer1')}" th:errors="*{wrongAnswer1}" class="text-danger"></span>
          </div>

        </div>

                <div class="row justify-content-center">
                  <div class="form-group col-5">
                    <label for="wrongAnswer2" class="col-form-label text-white">Wrong Answer 2</label>
                    <input type="text" th:field="*{wrongAnswer2}" class="form-control" id="wrongAnswer2" placeholder="wrongAnswer2">
                    <span th:if="${#fields.hasErrors('wrongAnswer2')}" th:errors="*{wrongAnswer2}" class="text-danger"></span>
                  </div>

                  <div class="form-group col-5">
                    <label for="wrongAnswer3" class="col-form-label text-white">Wrong Answers 3</label>
                    <input type="text" th:field="*{wrongAnswer3}" class="form-control" id="wrongAnswer3" placeholder="wrongAnswer3">
                    <span th:if="${#fields.hasErrors('wrongAnswer3')}" th:errors="*{wrongAnswer3}" class="text-danger"></span>
                  </div>
                </div>


        <div class="row justify-content-center mt-3">
          <input type="submit" class="btn btn-primary" value="Add Question">
        </div>

      </form>
    </div>
  </div>
  </div>

  <div class="row m-3">
    <a href="/shared/game" class="btn btn-primary mt-4">Return to game page</a>
  </div>

</body>
</html>