<!DOCTYPE html>
<html lang="en">
<div th:include="head :: head"></div>
<script src="https://cdn.lordicon.com/bhenfmcm.js"></script>
<body style="padding: 0px; background: black">
<div class="container">

    <div class="row justify-content-center">
        <div class="col-12 d-flex justify-content-center">
            <lord-icon
                    src="https://cdn.lordicon.com/wbfqtbhv.json"
                    trigger="loop"
                    colors="primary:#e83a30,secondary:#eeca66"
                    style="width:300px;height:300px; ">
            </lord-icon>
        </div>
        <div class="row d-flex justify-content-center">
            <h1 class="mb-3 text-danger" style="text-align: center; ">Opps! <br>Something went wrong...</h1>
            <div class="col-4 d-flex justify-content-center">
                <a href="/index" class="btn btn-warning">Return to Home page</a>
            </div>

        </div>
    </div>


</div>


<h1 th:text="${err}"></h1>

</body>
</html>