<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:include="head :: head"></div>
<body style="background: rgb(0,125,181);
background: linear-gradient(90deg, rgba(0,125,181,1) 0%, rgba(147,221,255,1) 50%, rgba(0,125,181,1) 100%);
padding: 0px;">

    <div class="container">
        <div class="row text-center mt-5 ">
            <div class="col d-flex justify-content-start">
                <a href="/"><button class="btn btn-outline-light  mb-2">Back to home page</button></a>
            </div>
            <div class="col">
                <img th:src="@{/images/trivia-games-1.png}"  style="max-width: 200px;">
            </div>
            <div class="col"></div>
        </div>
        <div class="row justify-content-center">

            <div class="col-md-6">
                <h1 class="mb-3 text-white" style="text-align: center; font-size: 400%;">Register</h1>
                <form action="#" th:action="@{/adduser}"  th:object="${user}" method="post">
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="userName" class="col-form-label text-white">Name</label>
                            <input type="text" th:field="*{userName}" class="form-control" id="userName" placeholder="Name">
                            <span th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}" class="text-danger"></span>
                        </div>

                        <div class="form-group col-md-6">
                            <label for="password" class="col-form-label text-white">Password</label>
                            <input type="text" th:field="*{password}" class="form-control" id="password" placeholder="Password">
                            <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="text-center mt-3">
                            <button type="submit" class="btn btn-outline-light btn-lg mb-2">Sign Up</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    </body>
</html>