<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<div th:include="fragment/head :: head"></div>

<body style="background: rgb(0,125,181);
background: linear-gradient(90deg, rgba(0,125,181,1) 0%, rgba(147,221,255,1) 50%, rgba(0,125,181,1) 100%);
padding: 0px;">


<div class="container">

    <div class="row justify-content-center">
        <div th:switch="${users.size()}" class="col-md-8">
            <h2 th:case="0" class="text-danger mt-5" style="text-align: center">No Users In DB!</h2>

            <div th:case="*">
                <h2 class="mt-5 mb-3 text-dark fw-bold" >Score</h2>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th class="text-dark">User Name</th>
                        <th class="text-dark">Score</th>
                        <th class="text-dark"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="user : ${users}">
                        <td th:text="${user.userName}"></td>
                        <td th:text="${user.score}"></td>
                        <td>
                            <form sec:authorize="hasRole('ADMIN')" action="#" th:action="@{/admin/delete-user-table}" th:object="${user}" method="post">
                                <input type="hidden" name="id" th:value="${user.id}">
                                <input class="btn btn-danger" type="submit" value="DELETE" />
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="row d-grid gap-2 col-md-3 col-sm-12 mx-auto mt-4">
        <button onclick="location.href='/shared/start-game'" type="button" class="btn btn-success">Return to game</button>
    </div>
</div>

</div>
</body>
</html>
