<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<div th:include="fragment/head :: head"></div>
<body style="background: rgb(0,125,181);
background: linear-gradient(90deg, rgba(0,125,181,1) 0%, rgba(147,221,255,1) 50%, rgba(0,125,181,1) 100%);
padding: 0px;">

<div class="container mt-5">
    <div class="row justify-content-center  mt-5">
        <img th:src="@{/images/trivia-games-1.png}"  style="max-width: 200px;">
    </div>

    <h1 class="text-dark" style="text-align: center; font-size: 550%;">Trivia King</h1>
    <h6 class="text-dark font-weight-bold mb-4 " style="text-align: center">Welcome To Trivia King Game</h6>
    <div class="row justify-content-center">
        <div class="row justify-content-center">
            <a href="/login" class="btn col-3 mb-2 btn-success">Login</a>
        </div>
        <div class="row justify-content-center">
            <a href="/register" class="btn mb-2 col-3 btn-success ">Register</a>
        </div>
        <div class="row justify-content-center">
            <a class="btn text-white col-3 mb-3 btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal">Information</a>
        </div>
    </div>

    </div>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">How to play Trivia King?</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <span class="text-dark">Welcome to the Trivia Game! Test your knowledge and see how many questions you can answer correctly.</span ><br><br> Here's how to play:<br>

                    * Read each question carefully and select the answer you think is correct.<br>
                    * Click the 'Submit' button to submit your answer.<br>
                    * Try to answer as many questions as you can to reach the end.<br>
                    * Your goal is to earn a high score and make it to the top 10 in the score table.<br><br>

                    Scoring System:<br>
                    * For each correct answer, you will earn 7.5 points.<br>
                    * If your answer is incorrect, you will lose.<br>
                    * At the end of the game, your total score will be calculated and recorded in the score table.<br>
                    * Try to answer correctly to maximize your score!<br><br>

                    Score Table:<br>
                    * You can view the top scores achieved by other players in the score table.<br>
                    * The score table displays the usernames of the top 10 players and their respective scores.<br>
                    * To view the score table, click on the 'View Scores' button in the game page.<br>
                    * Your goal is to achieve a high score and secure a place among the top 10 players!<br><br>

                    Good luck and enjoy the game!

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>