<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:include="fragment/head :: head"></div>
<body style="background: rgb(0,125,181);
background: linear-gradient(90deg, rgba(0,125,181,1) 0%, rgba(147,221,255,1) 50%, rgba(0,125,181,1) 100%);
padding: 0px;">

    <div class="container mt-4">
        <div class="row justify-content-center">
            <a href="/"><button class="btn btn-dark mt-2">Back to home</button></a>
        </div>
        <div class="row justify-content-center mt-4">
            <img th:src="@{/images/trivia-games-1.png}"  style="max-width: 200px;">
        </div>
        <div class="row justify-content-center">
            <div class="col-md-4 col-12">
                <h1 class="mb-3 text-dark" style="text-align: center; font-size: 400%;">Register</h1>
                <h6 style="text-align: center; " class="text-danger" th:text="${errorMessage}"></h6>
                <form action="#" th:action="@{/adduser}"  th:object="${user}" method="post">
                    <div class="row justify-content-center">
                        <div class="col">
                            <label for="userName" class="col-form-label text-white">Name</label>
                            <input type="text" th:field="*{userName}" class="form-control" id="userName" placeholder="Name">
                            <span th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}" class="text-danger"></span>
                        </div>
                    </div>




                    <div class="row justify-content-center">
                        <div class="col">
                            <label for="password" class="col-form-label text-white">Password</label>
                            <input type="text" th:field="*{password}" class="form-control" id="password" placeholder="Password">
                            <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row justify-content-center mt-3 ">
                        <button type="submit" class="btn btn-success p-2 col-4">Sign In</button>
                    </div>

                </form>
            </div>
        </div>
    </div>

    </body>
</html>